extends layout.pug

block content 
  div(class="col-xs-12 col-sm-8 col-sm-offset-2 text-center")
    div(class="col-xs-12 text-center text-upper")
      h5="Your Polls"
     
    div(class="col-xs-12 text-center")
      br
      div(class="list-group" id="poll")
        if (polls.length)
          each val in polls.length ? polls : ['There are no values']
            div(class="col-xs-12 list-group-item text-center list-group-item" data-uid=val.uid)
              div(class="col-xs-11")
                a(href='/poll/get/' + val.uid )
                  h4=val.title
              div(class="col-xs-1")
                  a(href='#' class="exit" onClick="confirm('Are you sure?')? deletePoll('"+val.uid+"') :false")
                    h5="❌" 
        else
          h4="No polls yet :("
          a(href="/poll/create")="💡 go on, create make a new poll"


block foot 
